html,
body {
  margin: 0;
  height: 125%;
}

header {
  height: 70px;
  background-color: lightgray;
  margin: 0;
}

p {
  margin: 20px;
}

.icon {
  margin: 10px;
  height: 50px;
  aspect-ratio: 1 / 1;
  background-color: dodgerblue;
}

.body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.text-space {
  height: calc(33% - 70px);
}

.colorful-section {
  height: 18%;
  width: 100%;
}

#colorful-section1 {
  background-color: dodgerblue;
}

#colorful-section2 {
  background-color: aquamarine;
}

#colorful-section3 {
  background-color: rgb(208, 245, 114);
}

#colorful-section4 {
  background-color: gold;
}
